*{
    margin: 0px;
    padding: 0px;
    font-family: 'Amazon Ember', Arial, sans-serif;
}
/* header css */
#nav{
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd;
    background-color: #fafafa;
    justify-content: space-around;
}
#nav>:nth-child(3)>img{
    height: 30px;
}
#nav>:nth-child(1) img{
    height: 30px;
}
#nav>div>checkout{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
/* main css */
main>:nth-child(1){
    width: 648px;
    /* height: 279px; */
    margin: auto;
    border-radius: 5px;
    border: 1px solid #dddddd;
    align-items: center;
}
main{
    display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
    padding-bottom: 30px;
    gap: 20%;
    justify-content: space-around;
    margin-bottom: 20px;
}
main form{
    font-family: 'Amazon Ember', Arial, sans-serif;
    width: 90%;
    margin: auto;
}
main form label,.yes{
    width: 100%;
}
main form div{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
main form label{
    font-weight: bold;
    font-size: 14px;
}
.yes, main form select{
    width: 90%;
    margin-top: 5px;
    padding-left: 7px;
    outline: none;
    border: 2px solid #a6a6a6;
    border-radius: 3px;
    height: 30px;
    
}
.yes:focus,main form select:focus {
    border-color: #e77600;
    outline: none;
    box-shadow: 0 0 8px 0 #e77600;
}
#textchange{
    margin: 20px;
}
/* input[placeholder="First and last name"]{
    padding-left: 7px;
}
input[placeholder="Mobile number"]{
    padding-left: 7px;
}
input[placeholder="At least 6 characters"]{
    padding-left: 7px;
} */
main form button:hover{
    background-color: #efbe42;
}

#html:hover,#css:hover,#javascript:hover{
    border-radius: 3px;
    background-color: #fcf5ee;
    padding-left: 20px;
    padding-bottom: 10px;
}

/* #first_1,#second_2,#third_3{
    width: 0%;
    background-color: blueviolet;
    color: rebeccapurple;
    all: none;
} */
main>div>div{
    width: 90%;
    font-family:"Amazon Ember", Arial, sans-serif;
    color: #111111;
    font-size: 12px;
    line-height: 20px;
    margin: auto;
}
main >div>div>a{
    color: #0066c0;
}
main>div>div span{
    font-size: 10px;
    color: #656565;
}

#hrs{
    display: flex;
    margin-top: 20px;
    width: 348px;
    height: 20px;
    align-items: center;
}
#st-hr{
    width: 28%;
    border: 1px solid #e7e7e7;
    height: 2px;
}
#nd-hr{
    width: 28%;
    height: 2px;
    border: 1px solid #e7e7e7;
    background-color: #e7e7e7;
}
main>div>div>span{
    color: #767676;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}

#register{
    display: flex;
    width: 348px;
    height: 30px;
    margin-top: 20px;
    border: 1px solid #8d9096;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    margin-right: auto;
}
#register>a{
    font-family: "Amazon Ember", Arial, sans-serif;
    color: #111111;
    font-size: 12px;
    font-weight: 525;
}
#register:hover{
    background-color: #a6a6a6;
}
#continue{
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #a88734;
    border-radius: 3px;
    background-color: #ffd814;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
}
#button{
    font-family: 'Amazon Ember', Arial, sans-serif;
    border-radius: 5px;
    margin-right: auto;
    padding-left: 20px;
    height: max-content;
    padding-right: 20px;
    padding: 20px;
    border: 1px solid #dddddd;
}
#button>h3{
    font-size: 1rem;
}
#button td{
    font-size: 0.7rem;
}
#price>td{
    font-size: 0.8rem;
    color: #b12704;
    font-weight: 700;
}
#confirmation{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#confirmation>img{
    width: 500px;
    /* margin-bottom: 20px; */
}
#confirmation>h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}
#confirmation>p{
    color: #a0a0a0;
    margin-bottom: 10px;
}
#confirmation>a>button{
    background-color: #32c670;
    color: white;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    /* height: 35px; */
    /* padding-left: 20px; */
    padding: 20px 30px 20px 30px;

    font-weight: 500px;
    cursor: pointer;
    border-radius: 5px;
}
#confirmation>a>button:hover{
    box-shadow: 0 0 8px 0 #32c670;
    background-color: transparent;
    border: 2px solid #32c670;;
    color: #32c670;
}
@media only screen and (max-width: 800px) {
    main{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    #button{
        margin: auto;
    }
    main>:nth-child(1){
        width: 100%;
        margin-top: 30px;
    }
    #continue{
        /* font-size: 7px; */
    }
    #nav{
        /* text-align: center; */
        font-size: 10px;
    }
    #nav img{
        height: 10px;
    }
    #confirmation{
        width: 60%;
        margin: auto;
    }
}